In [30]:
def f(*vargs):
    print(type(vargs[0]))
    if type(vargs[0]) in (int, float):
        result = 0
    elif type(vargs[0]) == list:
        result = []
    else:
        return
    for x in vargs:
        print(x)
        result += x
    return result

In [31]:
f([1, 2], [3, 4])

<class 'list'>
[1, 2]
[3, 4]

[1, 2, 3, 4]

In [32]:
f(1, 2, 3, 3.4)

<class 'int'>
1
2
3
3.4

9.4

In [72]:
def f(*vargs, **kwargs):
    print(vargs)
    print(kwargs)
    print(list(kwargs.values()))
    return sum(vargs + tuple(kwargs.values()))

In [73]:
f(1, 2, 3, x=4, y=5)

(1, 2, 3)
{'x': 4, 'y': 5}
[4, 5]

15

In [75]:
match (1, 2, 3, 4, 5):
  case (x, *y, *w, z):
      print(x, y, z)

SyntaxError: multiple starred names in sequence pattern (2436413972.py, line 2)